@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 4%);
        border-color: darken($border, 8%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 4%);
        border-color: darken($border, 8%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 4%);
        border-color: darken($border, 8%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 4%);
          border-color: darken($border, 8%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

.btn.btn-outline {
    background: 0 0;
}

.btn.btn-outline.btn-dark {
   border-color: $brand-dark;
  color: $brand-dark;
}

.btn.btn-outline.btn-green {
  border-color: $brand-green;
  color: $brand-green;
}

.btn.btn-outline.btn-green:hover {
  background-color:$brand-green;
  color:#fff;
}

.btn.btn-outline.btn-dark:hover {
  background-color:#fff;
  color:$brand-dark;
}



// New colors

.btn-dark {
  @include button-variant(#fff, $brand-dark, $brand-dark);
}

.btn-inverse {
  @include button-variant(#fff, $brand-inverse, $brand-inverse);
}

.btn-green {
  @include button-variant(#fff, $brand-green, rgba(0,0,0,0));
}

.btn-purple {
  @include button-variant(#fff, $brand-purple, rgba(0,0,0,0));
}

.btn-pink {
  @include button-variant(#fff, $brand-pink, rgba(0,0,0,0));
}
