
@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  & > .panel-heading {
    color: $heading-text-color;
    background-color: $heading-bg-color;
    border-color: $heading-border;

    + .panel-collapse > .panel-body {
      border-top-color: $border;
    }
    .badge {
      color: $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $border;
    }
  }
}


.bg-white .panel-heading,.bg-white .panel-footer{
  background-color:#fff;
}


.panel-inverse {
  @include panel-variant($panel-global-border, #fff, $brand-inverse, $brand-inverse);
}

.panel-green {
  @include panel-variant($panel-global-border, #fff, $brand-green, $brand-green);
}

.panel-pink {
  @include panel-variant($panel-global-border, #fff, $brand-pink, $brand-pink);
}

.panel-purple {
  @include panel-variant($panel-global-border, #fff, $brand-purple, $brand-purple);
}

.panel-dark {
  @include panel-variant($panel-global-border, #fff, $brand-dark, $brand-dark);
}
